---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";
import TechBadge from "../components/TechBadge.astro";
import { technologies } from "../utils/data";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const myProjects: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Astro Portfolio",
		desc: "A minimal Portfolio built with Astro.js",
		href: "https://github.com/hasham-qaiser/astro-portfolio",
	},
	{
		title: "Jpeg Explorer",
		desc: "NFT wallet viewer for the ethereum blockchain",
		href: "https://jpeg-explorer.vercel.app/",
	},
	{
		title: "Weather App",
		desc: "A simple weather app",
		href: "http://weather-app-seven-self.vercel.app/",
	},
];

interface TechBadgeProps {
	name: string;
	imgSrc: string;
	altSrc: string;
	link: string;
}
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-3">Hey there!</h1>
		<p class="mt-4 text-left">
			I’m Hasham. Frontend aficionado based in sunny southern California. My interests extends to
			AI, functional UI/UX designs, and pioneering web experiences that transcend convention.
			Currently I'm building an MVP from scratch for a stealth startup and contributing at Hack For
			LA.
		</p>
		<SocialList />
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<p class="mt-4 text-left">
			I like playing around and learning new programming languages, frameworks and libraries. These
			are the technologies that I love working with:
		</p>
		<div class="mt-10 grid grid-cols-2 gap-y-5 md:grid-cols-3 md:gap-x-4 md:gap-y-8">
			{
				technologies.map((tech: TechBadgeProps) => (
					<a href={tech.link} class="cursor-pointer text-gray-300">
						<TechBadge {...tech} />
					</a>
				))
			}
		</div>
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<p class="mb-4 text-left">
			I've worked on several projects in the past, with some still ongoing as works in progress.
			Recently my growing interest in open-source initiatives has led me to actively contribute to
			<a
				href="https://github.com/hackforla/expunge-assist"
				target="_blank"
				class="rounded-lg px-1 py-1 font-bold hover:text-[#EF6C00]"
			>
				<span>Expunge Assist</span>
			</a>
			and<a
				href="https://github.com/withastro/starlight"
				target="_blank"
				class="rounded-lg px-1 py-1 font-bold hover:text-[#EF6C00]"
			>
				<span>Starlight.</span>
			</a>
			My dedication to open-source is driven by a dual purpose: enhancing the tools that are integral
			to my own development process and, by extension, refining the experiences of fellow developers
			globally.
		</p>

		<ul class="space-y-4 sm:space-y-2">
			{
				myProjects.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>
						:<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Blog</h2>

		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
