---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";
import TechBadge from "../components/TechBadge.astro";
import { technologies } from "../utils/data";
import { Icon } from "astro-icon";


const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const myProjects: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Astro Portfolio",
		desc: "Minimal portfolio built with Astro.js",
		href: "https://github.com/hasham-qaiser/astro-portfolio",
	},
	{
		title: "Memo",
		desc: "Note-taking app supercharged with AI",
		href: "https://memo-v1.vercel.app/",
	},
	{
		title: "Dev Blog",
		desc: "Next 14 powered blog",
		href: "https://next14-blog-green.vercel.app/",
	},
	{
		title: "Expunge Assist",
		desc: "A free digital tool designed to aid Californians with prior arrests and convictions",
		href: "https://github.com/hackforla/expunge-assist",
	},
];

const workExperience: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Five9nes",
		desc: "Fullstack Engineer (november 2024 - present)",
		href: "https://www.five9nes.io/",
	},
	{
		title: "Expunge Assist",
		desc: "Volunteer Frontend Engineer (september 2023 - present)",
		href: "https://expungeassist.org/",
	},
	{
		title: "Onward Justice",
		desc: "Frontend Engineer Intern (august 2023 - january 2024)",
		href: "https://onwardjustice.com/",
	},
	
];

interface TechBadgeProps {
	name: string;
	imgSrc: string;
	altSrc: string;
	link: string;
}
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<span class="text-xl font-bold sm:text-2xl">Hasham Qaiser</span>
		<div class="flex items-center gap-2 mt-1"><Icon class="h-5 w-5" name="mappin"/>
			Los Angeles, California
		</div>
		
		
		
		<p class="mt-6 text-left">
			I'm a Software Engineer with a passion for providing distininctive user experiences. Currently at<a
				href="https://www.five9nes.io/"
				target="_blank"
				class="rounded-lg px-1 py-1 font-bold hover:text-[#EF6C00]"
			>
				<span>Five9nes</span>
			</a>implementing SRE practices through DevOps and microservices, while contributing to community projects at <a
			href="https://www.hackforla.org/"
			target="_blank"
			class="rounded-lg font-bold hover:text-[#EF6C00]"
		>
			<span>Hack For LA</span>.
			</a>
		</p>
		<div class="mt-1"> <SocialList /> </div>
		
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Work</h2>
		

		<ul class="space-y-4 sm:space-y-2">
			{
				workExperience.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>
						:<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>

	

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>
		
		<ul class="space-y-4 sm:space-y-2">
			{
				myProjects.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>
						:<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Blog</h2>

		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
